/*div{
    height: 100px;
    width: 500px;
    background-color: pink;
  /*  border-width: 2px;
    border-style: solid;
    border-color: blue;*/
   /* border: 5px solid black;
    padding-left: 500px;
}*/
/*h1{
    height: 50px;
    width: 1000px;
    background-color: greenyellow;
    border-width: 3px;
    border-style: dotted;
    border-color: brown;
    text-align: center;
    /* border-radius: 10px;other method */
   /* border-radius: 100%;

}*/
/* body{
  background-color: black;
}
#amaz{
  height: 60px;
  background-color: black;
  border: 5px solid white;
  
}
  button{
    background-color: orange;
    color: white;
  }
  #log{
    color: orange;
    font-size: 20px;
  }
  input{
    color: white;
  }
a{
  color: white;
  text-decoration: none;
  margin-right: 200px; 
} */


/* div{
  color: black;
  background-color: rgba(255, 255, 0, 0.5);
  width: 200px;
  height: 100px;
  /* padding: 5px; */
  /* margin: 5px; */
  /* display: inline-block;  */
 /* border: 5px solid black;
}
 button{
  background-color: aquamarine;
  display: block; 
}*/
 
/* #box2{
  visibility: hidden;
} */

/* #box1{
  height: 100px;
  width: 200px;
  background-color: yellow;
  font-size: 10px;
}
#box2{
  height: 50px;
  /* width: 33%; */
 /* background-color: aqua;
  margin: 10%;
  font-size: 2em;*/
  /*width: 5em;*//* 5(2*10)(fontsize) */
 /* width: 5rem;
} */

/*div{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  display: inline-block;
}
#box1{
  position: static;
  
  
}
#box2{
  position: relative;
  top: 20px;
  left: 10px;
}
#box3{
  position: absolute;
  top: 50px;
  left: 10px;
}
#box4{
  position: fixed;
  right: 10px;
  bottom: 0px;
}
p{
  position: relative;
  z-index: 5;
}*/





/*div{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  display: inline-block;
}
#box1{
  background-image: url("download.jpeg");
  /* background-size: contain; */
  /* background-size: cover; */
  /* background-size: auto; */
  /*background-repeat: no-repeat;
  position: fixed;
  position: relative;*/
  /* position: absolute; */
 /* right: 10px;
  top: 250px;
}*/

/*body{
  text-align: center;
}
div{
  height: 100px;
  width: 100px;
   display: inline-block; 
  border: 2px solid black;
}
#container{
  width: 800px;
  height: 200px;
   display: flex;  
    flex-direction: row; 
     justify-content: center; 
}

#box1{
  background-color: aqua;
}
#box2{
  background-color: pink;
  flex-grow: 5;
}
#box3{
  background-color: darkkhaki;

}
#box4{
  background-color: indianred;
  align-self: flex-end;

}
#box5{
  background-color: slateblue;
}*/
/*div{
  height:50px;
  width:50px;
   background-color:pink;
}
@media(width: 600px){
  div{
  background-color: red;
}
}
@media(min-width:700px) {
  div{
    background-color: brown;
  }
  
}
@media (min-width:200px) and (max-width:300px){
 div{
background-color: blue;
  }
}*/

div{
   height: 100px;
  width: 100px; 
  background-color: aqua;
  border: 2px solid black;
  margin: 50px;
 /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: steps(5);
  transition-delay: 3s;*/
  transition: all 2s steps(5) 3s;
 /*transform: rotate(90deg);
 transform: rotatez(90deg);*/
 /* rotate: z 90deg; */
 /* transform: scale(2 ,1); */
 
 
}
div:hover{
  background-color: black;
  color: aliceblue;
 /* transform: scale(2);*/
  /* transform: rotate(90deg); */
  /* transform: translate(500px , 200px); */
  transform: skew(-90deg);
  
}
div:active{
  background-color: brown;
  color: aqua;
}